@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;

    width: inherit;
    color: rgb(255, 255, 255);

    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(74, 233, 26);

    margin: 10px 50px 50px 50px;
}

