@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  background: #22C1C3;
  background: black;
  color: #eee;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(45, 45, 45);

  border: rgb(86, 241, 9) 2.5px solid;
  border-radius: 10px;

  width: auto;
  height: auto;
  padding: 20px 10px;
  backdrop-filter: blur(1.5rem);;
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 80px;
  aspect-ratio: 1;
  padding: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
  filter: blur(12px);
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(#0000 0 5%,#98ec22,#0000 20% 50%);
  animation: l2 1.5s linear infinite;
}
@keyframes l2 {
  to {rotate: 1turn}
}